apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{nextcloud_name}}-app
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{nextcloud_sc}}
  resources:
    requests:
      storage: 200Gi